*{
    padding:0;
    margin: 0;
}
  
body {
    background: url('../img/desk_img.jpeg');
    background-size: cover;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}
  
html, body {
    height: 100%;
}

@media (width: 980px) and (height: 661px){
    body {
        width: 120%;
        overflow-x: scroll;
    }
}

@media (width: 1024px) and (height: 690px){
    body {
        width: 118%;
        overflow-x: scroll;
    }
}


@media (width: 980px) and (height: 1024px){
    body {
        width: 180%;
        overflow-x: scroll;
    }
}

@media (width: 2048px) and (height: 1536px){
    body {
        width: 130%;
        overflow-x: scroll;
    }
}


@media screen and (max-width:900px) {
    body {
        background: url('../img/mob_img.jpeg');
        background-size: cover;
        background-position: 50% 100%;
    }
}
